@{
    ViewBag.Title = "AlignUp";
}

<!DOCTYPE html>
<html lang="en">

<head>
    @RenderSection("Styles", required: false)
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/fontawesome/css/all.min.css")">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/templatemo-video-catalog.css")">
</head>
<style>
    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
</style>

<body>
    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <div class="position-absolute tm-site-header">
                <div class="container-fluid position-relative">
                    <div class="row">
                        <div class="col-7 col-md-4">
                            <a href="@Url.Action("Index", "Home")" class="tm-bg-black text-center tm-logo-container">
                                <i class="fas fa-video tm-site-logo mb-3"></i>
                                <h1 class="tm-site-name">AlignUp</h1>
                            </a>
                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">
                                <nav class="navbar navbar-expand-lg mr-0 ml-auto" id="tm-main-nav">
                                    <button class="navbar-toggler text-white" type="button"
                                            data-toggle="collapse" data-target="#navbar-nav"
                                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse" id="navbar-nav">
                                        <ul class="navbar-nav text-uppercase">
                                            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                                <div class="tm-btn-navbar">
                                                    <a class="nav-link tm-nav-link" href="@Url.Action("Index", "Home")">
                                                        Videos
                                                        @if (ViewContext.RouteData.Values["Action"].ToString() == "Index")
                                                        {
                                                            <span class="sr-only">(current)</span>
                                                        }
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
                                                <div class="tm-btn-navbarv">
                                                    <a class="nav-link tm-nav-link" href="@Url.Action("About", "Home")">
                                                        About
                                                        @if (ViewContext.RouteData.Values["Action"].ToString() == "About")
                                                        {
                                                            <span class="sr-only">(current)</span>
                                                        }
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">
                                                <div class="tm-btn-navbar">
                                                    <a class="nav-link tm-nav-link" href="@Url.Action("Contact", "Home")">
                                                        Contact
                                                        @if (ViewContext.RouteData.Values["Action"].ToString() == "Contact")
                                                        {
                                                            <span class="sr-only">(current)</span>
                                                        }
                                                    </a>
                                                </div>
                                            </li>

                                            @{ var user = Session["User"] as string; }

                                            @if (string.IsNullOrEmpty(user))
                                            {
                                                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")">
                                                    <div class="tm-btn-navbar">
                                                        <a class="nav-link tm-nav-link" href="@Url.Action("Login", "Auth")">Login</a>
                                                    </div>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="nav-item">
                                                    <div class="tm-btn-navbar">
                                                        <span class="nav-link">Welcome, @Session["User"]</span>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <div class="tm-btn-navbar">
                                                        <a class="nav-link tm-nav-link btn btn-danger text-white" href="@Url.Action("Logout", "Auth")">Logout</a>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Aici este conținutul specific fiecărei pagini pentru banner *@
            @RenderSection("Banner", required: false)
        </div>

        @* Aici este conținutul specific fiecărei pagini *@
        @RenderBody()

        <div class="container-fluid tm-content-container mx-auto pt-4">
            <!-- Subscribe form and footer links -->
            <div class="row pt-3">
                <div class="col-xl-6 col-lg-12 mb-4">
                    <div class="tm-bg-gray p-5 h-100">
                        <h3 class="tm-text-primary mb-3">Do you want to get our latest updates?</h3>
                        <p class="mb-5">
                            Please subscribe our newsletter for upcoming new videos and latest information about our
                            work. Thank you.
                        </p>
                        <form action="" method="GET" class="tm-subscribe-form">
                            <input type="text" name="email" placeholder="Your Email..." required>
                            <button type="submit" class="btn rounded-0 btn-primary tm-btn-small">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="p-5 tm-bg-gray">
                        <h3 class="tm-text-primary mb-4">Quick Links</h3>
                        <ul class="list-unstyled tm-footer-links">
                            <li><a href="#">Duis bibendum</a></li>
                            <li><a href="#">Purus non dignissim</a></li>
                            <li><a href="#">Sapien metus gravida</a></li>
                            <li><a href="#">Eget consequat</a></li>
                            <li><a href="#">Praesent eu pulvinar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="p-5 tm-bg-gray h-100">
                        <h3 class="tm-text-primary mb-4">Our Pages</h3>
                        <ul class="list-unstyled tm-footer-links">
                            <li><a href="@Url.Action("Index", "Home")">Our Videos</a></li>
                            <li><a href="#">License Terms</a></li>
                            <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                            <li><a href="#">Privacy Policies</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <footer class="row pt-5">
                <div class="col-12">
                    <p class="text-right">
                        Copyright 2025 AlignUp Company
                        - Designed by <a href="https://templatemo.com" rel="nofollow" target="_parent">TemplateMo</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>

    <script src="@Url.Content("~/js/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/parallax.min.js")"></script>
  
    @RenderSection("Scripts", required: false)
</body>
</html>