@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Banner {
    <div class="tm-welcome-container text-center text-white">
        <div class="tm-welcome-container-inner">
            <p class="tm-welcome-text mb-1 text-white"></p>
            <p class="tm-welcome-text mb-5 text-white"></p>
            <a href="#content" class="btn tm-btn-animate tm-btn-cta tm-icon-down">
                <span>Discover</span>
            </a>
        </div>
    </div>

    <div id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <source src="~/video/Healthy Living(720P_HD).mp4" type="video/mp4">
        </video>
    </div>

    <i id="tm-video-control-button" class="fas fa-pause"></i>
}

<div class="container-fluid">
    <div id="content" class="mx-auto tm-content-container">
        <main>
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-page-title mb-4">Our Video Catalog</h2>
                    <div class="tm-categories-container mb-5">
                        <h3 class="tm-text-primary tm-categories-text">Categories:</h3>
                        <ul class="nav tm-category-list">
                            <li class="nav-item tm-category-item"><a  class="nav-link tm-category-link active">All</a></li>
                            <li class="nav-item tm-category-item"><a  class="nav-link tm-category-link">Eyes</a></li>
                            <li class="nav-item tm-category-item"><a  class="nav-link tm-category-link">Posture</a></li>
                            <li class="nav-item tm-category-item"><a  class="nav-link tm-category-link">Discipline</a></li>
                            <li class="nav-item tm-category-item"><a  class="nav-link tm-category-link">Motivation</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row tm-catalog-item-list">
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="@Url.Content("~/img/ochisori.png")" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="@Url.Action("Video1","Content")" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">10 simple exercises to relax and improve vision</h3>
                        <p class="tm-catalog-item-text">
                            These 10 simple exercises for eye relaxation and vision improvement can take just a few minutes during a short break at school or work, but they can have immediate effects.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="@Url.Content("~/img/spate2.jpg")" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="@Url.Action("Video2","Content")" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">2 Minute Workout for Beginners</h3>
                        <p class="tm-catalog-item-text">
                            4 Simple Exercises for a Beautiful Back for Beginners.
                            Get rid of back fat, thin shoulders and a slim upper body. Let's get started.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="@Url.Content("~/img/photo_5314475928459538810_y.jpg")" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="@Url.Action("Video3","Content")" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">Watch This Everyday and Change Your Life</h3>
                        <p class="tm-catalog-item-text">
                             Let this video be your daily boost—a reminder that your goals are possible, your effort matters, and every moment is a new chance to grow.
                        </p>
                    </div>
                </div>
                <!-- Restul elementelor de catalog -->
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="@Url.Content("~/img/photo_5314475928459538809_y.jpg")" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="@Url.Action("Video4","Content")" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">the power of CHOICE (a short film to motivate you)</h3>
                        <p class="tm-catalog-item-text">You are the powerful creator of your life and reality - every day you can CHOOSE how you start into your day, you can CHOOSE what to focus on and how you use the time you have. Watch this video if you need motivation, hope you like it.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="@Url.Content("~/img/photo_5314475928459538814_y.jpg")" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="@Url.Action("Video5","Content")" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">How to Build Self-Discipline: The Mindset Method </h3>
                        <p class="tm-catalog-item-text">
                            This video breaks down the core principles of building discipline, guiding you step by step from shifting your thoughts to reshaping your actions. When you master your mindset, you take control of your life.       
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="@Url.Content("~/img/photo_5314475928459538816_y.jpg")" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="@Url.Action("Video6","Content")" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">Do Eye Exercises Actually Work? I Tried for 30 Days!</h3>
                        <p class="tm-catalog-item-text">
                            Join me on my 30 day eye training journey! In this video, I challenge myself to train my eyes for 30 days and see if I can improve my eyesight. Whether you're looking to improve your vision or just want to learn more about eye training, this video is for you
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="@Url.Content("~/img/photo_5314475928459538808_y.jpg")" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="@Url.Action("Video7","Content")" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">5 MIN ab pilates workout// no equipment // toned abs and snatched waist</h3>
                        <p class="tm-catalog-item-text">This is a perfect express workout to do when you do not have much time in the morning or even to incorporate at the end another workout for an extra boost :)</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="@Url.Content("~/img/schimba viata 12.jpg")" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="@Url.Action("Video8","Content")" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">JOE DISPENZA - 3 Tips that will change your life in just 7 days</h3>
                        <p class="tm-catalog-item-text">
                            Ready for a real change?
                            This video with Dr. Joe Dispenza could be the shift you need. In just a few minutes, you’ll learn three powerful mindset tips that can transform your life in just 7 days.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="@Url.Content("~/img/disciplina33.jpg")" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="@Url.Action("Video9","Content")" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">How to build discipline | "just one step" short film</h3>
                        <p class="tm-catalog-item-text">All it takes to start working towards that big goal you have is one step, after a while you will be there. Fall in love with the process of growth and recognize the small part of the journey that success holds. Change your habits and your life will change.</p>
                    </div>
                </div>
            </div>

            <!-- Catalog Paging Buttons -->
            
        </main>
    </div>
</div>

@section Scripts {
    <script>
        function setVideoSize() {
            const vidWidth = 1920;
            const vidHeight = 1080;
            let windowWidth = window.innerWidth;
            let newVidWidth = windowWidth;
            let newVidHeight = windowWidth * vidHeight / vidWidth;
            let marginLeft = 0;
            let marginTop = 0;

            if (newVidHeight < 500) {
                newVidHeight = 500;
                newVidWidth = newVidHeight * vidWidth / vidHeight;
            }

            if (newVidWidth > windowWidth) {
                marginLeft = -((newVidWidth - windowWidth) / 2);
            }

            if (newVidHeight > 720) {
                marginTop = -((newVidHeight - $('#tm-video-container').height()) / 2);
            }

            const tmVideo = $('#tm-video');

            tmVideo.css('width', newVidWidth);
            tmVideo.css('height', newVidHeight);
            tmVideo.css('margin-left', marginLeft);
            tmVideo.css('margin-top', marginTop);
        }

        $(document).ready(function () {
            /************** Video background *********/

            setVideoSize();

            // Set video background size based on window size
            let timeout;
            window.onresize = function () {
                clearTimeout(timeout);
                timeout = setTimeout(setVideoSize, 100);
            };

            // Play/Pause button for video background
            const btn = $("#tm-video-control-button");

            btn.on("click", function (e) {
                const video = document.getElementById("tm-video");
                $(this).removeClass();

                if (video.paused) {
                    video.play();
                    $(this).addClass("fas fa-pause");
                } else {
                    video.pause();
                    $(this).addClass("fas fa-play");
                }
            });
        })
    </script>
}